@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.App {
  text-align: left;
  display: grid;
  grid-template-columns: 4.5fr 0.1fr 1.2fr;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.saveButton {
  height: 33px;
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 10px;
  background-color: #000000;
  color: #FFAC06;
  border-left: 1px solid #fff;
}

table {
  width: 100%;
  padding: 5px;
}

td{
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 14px;
  width: 20%;
}
tr:hover {
  background-color: rgb(230, 230, 230);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
    margin-top: 5%;
  }
  50% {
    margin-top: 3%;
  }
  100% {
    margin-top: 5%;
  }
}


p {
  font-size: 12px;
  margin: 5px;
}
.mainContainer {
  width: 95%;
  min-height: 90vh;
  background-color: white;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 20px;
  display: inline;
}
.mainContent {
  display: inline-flex;
  font-size: 14px;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 25px;
  vertical-align: top;
  display: inline;
}
.gridResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 20px;
}
.widgetsContainer {
  display: grid;
  width: 95%;
  height: 90vh;
  margin-top: 8%;
  margin-left: 5%;
  right: 0;
  position: relative;
  float: right;
  transition: all .5s;
  text-align: center;
}
.widget {
  width: 100%;
  height: 99%;
  display: grid;
  border-radius: 12px 0 0 12px;
  float: right;
  transition: all .5s;
  transition-delay: .5s;
  z-index: 1;
  cursor: pointer;
}

.widgetNumber {
  opacity: .8;
  margin-top: 10%;
  font-size: 100px;
  transition: all .5s;
  transition-delay: .5s;
  transform: scale(.8);
}
.widgetNumber:hover {
  transform: scale(1);
  transition: all .5s;
  
}


.sideMenu {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -17.5%;
  background-color: #191919;
  transition: all 0.5s;
  color: white !important;
  text-align: center;
  z-index: 10;
}
.sideMenuEx {
  left: 0;
  transition: all 0.5s;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: #FFAC06;
  background-image: url("./img/wood-6.jpg");
  background-size: 100%;
  background-position: 50% 50%;
  border: 4px double #FFAC06;
  margin-left: 25%;
  margin-top: 5%;
  transition: all .5s;
  transition-delay: .5s;
}
.avatar:hover {
  background-size: 180%;
  transition: all .5s;
  transform: rotate(5deg);
}
.dot {
  margin-top: 120%;
  border-radius: 100px;
  background-image: url("./img/Aright.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 5px;
  transition: all .5s;
  cursor: pointer;
}
.dot:hover {
  transform: scale(1.2);
}
.dotPos {
  transform: rotate(-180deg);
  margin-top: 5%;
  margin-right: 35px;
  transition: all .5s;
  width: 40px;
  height: 40px;
}
.dotW {
  margin-left: 5px;
  margin-top: 350px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 100px;
  transition: all .5s;
  float: left;
  position: sticky;
}
.dotW:hover {
  transform: scale(2);
}

.shadow {
  box-shadow: 2px 3px 10px 4px #150a461c;
}
.blackBack {
  background-color: #191919;
  color: white!important;
}
.whiteBack {
  background-color: white;
}
.yellowBack {
  background-color: #FDD32A;
}

.mainTitle {
  font-size: 32px;
  margin-left: 25px;
  margin-top: 15px;
  color: #282c34;
}

.addButton {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #FFAC06;
  color: white;
  float: right;
  position: fixed;
  right: 33vh;
  bottom: 10px;
  z-index: 1000;
  transition: all .5s;
  background-image: url(./img/cross.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 35%;
  transform: rotate(45deg);
  z-index: 10002;
}
.addButtonEX {
  transform: rotate(0deg);
  background-color: #282c34;
  transform: scale(1.2);
 z-index: 10002;
 }
 
.modal {
  width: 900px;
  height: 200px;
  border-radius: 10px;
  background-color: #FFAC06;
  position: absolute;
  float: right;
  bottom: -30px;
  right: -150px;
  transition: all .3s;
  transform: scale(.01);
  transition-delay: all 1s;
  padding-top: 10px;
  padding-left: 25px;
  color: #000000;
  font-size: 18px;
  z-index: 10001;
  filter: blur(15px);
}
.modalEX {
transform: scale(1);
bottom: 30px;
right: 295px;
transition-delay: all 1s;
filter: blur(0px);
}
.blur {
  filter: blur(3px);
  width: 100%;
  height: 100%;
  background-color: #00000063;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.blurOff {
  filter: blur(0px);
  width: 100%;
  height: 100%;
  background-color: #00000000;
  z-index: 0;
  transform: scale(0.1);
  top: 0;
  left: 0;
  position: absolute;
}


input {
  border-radius: 10px 0 0 10px;
  min-width: 200px;
  min-height: 33px;
  border: none;
  padding-left: 15px;
}
.listItem {
  display: grid;
  color: rgb(0, 0, 0);
  width: 140px;
  height: 100px;
  background-color: #FDD32A;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  vertical-align: bottom;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background-size: 50%;
  background-position: 100% 120%;
  background-repeat: no-repeat;
  transition: all 1s;
  transition-delay: 0.3s;
}
.unActive {
  color: #ffffff;
  background-color: #a7a7a7;
}
.listItem:hover {
  background-position: 100% 100%;
  transition: all 1s;
  background-size: 55%;
  background-color:#FFAC06;
}
.deleteButton {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #000000;
  color: white;
  position: absolute;
  float: right;
  margin-left: 135px;
  margin-top: -20px;
  background-image: url("./img/cross.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .5s;
}
.deleteButton:hover {
  transform: scale(1.2);
  transition: all .5s;
}
.editButton {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #000000;
  color: white;
  position: absolute;
  float: left;
  margin-left: -15px;
  margin-top: 90px;
  background-image: url("./img/document.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .5s;
}
.editButton:hover {
  transform: scale(1.2);
  transition: all .5s;
}
.itemTitle {
  font-size: 22px;
  display: grid;
}
.details {
  font-size: 10px;
  display: grid;
}
/* Scrollbars*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A355B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFAC06;
}